/* custom cursor */ 
.home-hero_component, .home-hero_pin-w {
    cursor: url('https://uploads-ssl.webflow.com/62fb98c88ca07dff85e875d8/64e70f616e6ad43bbfe73d96_guest.svg') 0 0, auto;
}

.home-hero_icon-hand, .home-hero_pin-w {
    cursor: url('https://uploads-ssl.webflow.com/62fb98c88ca07dff85e875d8/64e71ae1c45e306eec6eebb3_grab.svg') 0 0, auto;
}

.home-hero_component.no-pointer {
    cursor:auto;
}

.home-hero_icon-hand.no-pointer {
    cursor: grab;
}

/* custom noise css */ 
.background_image-noise::before {
    content: "";
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1295275/background-noise.png');
    animation: 0.5s infinite noise;
    pointer-events: none;
  }
  @keyframes noise {
    0%, 100% {
      background-position: 0 0;
    }
    10% {
      background-position: -5% -10%;
    }
    20% {
      background-position: -15% 5%;
    }
    30% {
      background-position: 7% -25%;
    }
    40% {
      background-position: 20% 25%;
    }
    50% {
      background-position: -25% 10%;
    }
    60% {
      background-position: 15% 5%;
    }
    70% {
      background-position: 0% 15%;
    }
    80% {
      background-position: 25% 35%;
    }
    90% {
      background-position: -10% 10%;
    }
  }