/* Hide scrollbar for IE, Edge, and Firefox */
body {
    /* background-color: blue; */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overscroll-behavior: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
::-webkit-scrollbar {
    display: none;
}

/* Avoid horizontal scrolling without breaking sticky children */
.page-wrapper {
    overflow: clip;
}



